<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Web Socket support in IIS -->
    <webSocket enabled="false" />
    
    <handlers>
      <!-- Indicates that the server.js file is a Node.js site to be handled by the iisnode module -->
      <add name="iisnode" path="index.cjs" verb="*" modules="iisnode" />
    </handlers>
    
    <rewrite>
      <rules>
        <!-- First we exclude files in public or dist directory from rewriting -->
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- All other URLs are mapped to the node.js site entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.cjs" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- Directory browsing should be disabled -->
    <directoryBrowse enabled="false" />
    
    <security>
      <requestFiltering>
        <!-- Increase maxAllowedContentLength for large batches of image uploads, e.g. 500MB (in bytes: 524288000) -->
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    
    <!-- iisnode options: debugEnabled can be false for production -->
    <iisnode 
      watchedFiles="web.config;*.js" 
      nodeProcessCommandLine="node" 
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      devErrorsEnabled="false"
    />
  </system.webServer>
</configuration>
